$accent: #db6a8a;
$darkerAccent: #bb4667;
$beige: #fffef3;
$darkerBeige: #fbf8ee;
$notBlack: #2c2c2c;
$defaultTransition: ease 0.35s;

$darkModeBlack: #202020;
$darkModeAccent: #eeeeee;
$darkModeAccent2: white;
$darkModeDarkerAccent: #b8b8b8;

$forestBg: rgb(11, 32, 11);
$forestAccent: #B6C197;
$forestAccent2: #e7f5d4;
$forestDarkerAccent: #306B34;

$oceanicBg: #ADCAD6;
$oceanicAccent: #33658A;
$oceanicAccent2: #161f27;
$oceanicDarkerAccent: #2F4858;

$auroraBg: #00001a;
$auroraAccent: #98eb71;
$auroraAccent2: #a1e2eb;
$auroraDarkerAccent: #8868b1;

$velvetBg: #DCE0D9;
$velvetAccent: #6B0F1A;
$velvetAccent2: #8f5555;
$velvetDarkerAccent: #3f0d29;

$wintertideBg: #4E3D42;
$wintertideAccent: #E3DBDB;
$wintertideAccent2: #C9D5B5;
$wintertideDarkerAccent: #a19699;

$vineyardBg: #dfd4b7;
$vineyardAccent: #471d6e;
$vineyardAccent2: #5e5fa8;
$vineyardDarkerAccent: #547769;

// Media queries

@media (max-width: 600px) {
  [data-tooltip]::after {
    margin-left: 0 !important;
    left: 2rem;
  }
  footer {
    flex-direction: column !important;
    height: auto !important;
  }
  .period-name-select {
    width: auto !important;
  }
  .create-editable-per-container > td > input {
    width: auto !important;
  }
}

// Theming

.dark-theme {
  & #post-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/images/hero-photo-dark.webp")
  }
  & nav {
    background-color: $darkModeBlack;
    & .nav-title {
      color: $darkModeAccent;
    }
    & .nav-icon {
      filter: brightness(4);
    }
    & #github-icon {
      filter: invert(0.95);
    }
  }
  & main {
    background-color: $darkModeBlack;
  }
  & h1, h2, h3, h4, h5 {
    color: $darkModeDarkerAccent;
  }
  & .period-emphasis {
    background-color: rgba(256,256,256,0.08)
  }
  & hr {
    border-color: $darkModeAccent2;
  }
  & .period-name {
    color: $darkModeDarkerAccent !important;
  }
  & .period-time {
    color: $darkModeAccent !important;
  }
  & #schedule-period-label, #schedule-clock, #schedule-period-countdown {
    color: $darkModeAccent2 !important;
  }
  & .schedule-edit-button {
    background-color: $darkModeAccent;
    border-color: $darkModeDarkerAccent;
    color: $darkModeBlack;
    &:hover {
      background-color: $darkModeDarkerAccent;
    }
  }
}

.forest-theme {
  & #post-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/images/hero-photo-forest.webp")
  }
  & nav {
    background-color: $forestBg;
    & .nav-title {
      color: $forestAccent;
    }
    & .nav-icon {
      filter: hue-rotate(150deg) saturate(0.5);
    }
    & #github-icon {
      filter: invert(0.95);
    }
  }
  & .period-emphasis {
    background-color: rgba(256,256,256,0.08)
  }
  & hr {
    border-color: $forestAccent2;
  }
  & main {
    background-color: $forestBg;
  }
  & h1, h2, h3, h4, h5 {
    color: $forestDarkerAccent;
  }
  & .period-name {
    color: $forestDarkerAccent !important;
  }
  & .period-time {
    color: $forestAccent !important;
  }
  & #schedule-period-label, #schedule-clock, #schedule-period-countdown {
    color: $forestAccent2 !important;
  }
  & .schedule-edit-button {
    background-color: $forestAccent;
    border-color: $forestDarkerAccent;
    color: $notBlack;
    &:hover {
      background-color: $forestDarkerAccent;
    }
  }
}

.oceanic-theme {
  & #post-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/images/hero-photo-oceanic.webp")
  }
  & nav {
    background-color: $oceanicBg;
    & .nav-title {
      color: $oceanicAccent;
    }
    & .nav-icon {
      filter: hue-rotate(240deg) saturate(0.8);
    }
  }
  & .period-emphasis {
    background-color: rgba(0,0,0,0.1)
  }
  & hr {
    border-color: $oceanicAccent2;
  }
  & main {
    background-color: $oceanicBg;
  }
  & h1, h2, h3, h4, h5 {
    color: $oceanicDarkerAccent;
  }
  & .period-name {
    color: $oceanicDarkerAccent !important;
  }
  & .period-time {
    color: $oceanicAccent !important;
  }
  & #schedule-period-label, #schedule-clock, #schedule-period-countdown {
    color: $oceanicAccent2 !important;
  }
  & .schedule-edit-button {
    background-color: $oceanicAccent;
    border-color: $oceanicDarkerAccent;
    color: $beige;
    &:hover {
      background-color: $oceanicDarkerAccent;
    }
  }
}

.aurora-theme {
  & #post-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/images/hero-photo-aurora.webp");
    background-position: center;
  }
  & .post-hero-text {
    text-shadow: $auroraAccent 0.2rem 0.2rem 0.5rem;
  }
  & nav {
    background-color: $auroraBg;
    & .nav-title {
      background: linear-gradient(45deg, $auroraAccent, $auroraAccent2, $auroraDarkerAccent);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    & .nav-icon {
      filter: hue-rotate(280deg);
    }
    & #github-icon {
      filter: invert(1)
    }
  }
  & .period-emphasis {
    background-color: rgba(256,256,256,0.08)
  }
  & hr {
    border-color: $auroraAccent2;
  }
  & main {
    background-color: $auroraBg;
  }
  & h1, h2, h3, h4, h5 {
    color: $auroraDarkerAccent;
  }
  & .period-name {
    color: $auroraDarkerAccent !important;
  }
  & .period-time {
    color: $auroraAccent !important;
  }
  & #schedule-period-label, #schedule-clock, #schedule-period-countdown {
    color: $auroraAccent2 !important;
  }
  & .schedule-edit-button {
    background-color: $auroraAccent;
    border-color: $auroraDarkerAccent;
    color: $auroraDarkerAccent;
    &:hover {
      background-color: $auroraDarkerAccent;
      color: $auroraAccent2;
    }
  }
}

.velvet-theme { 
  & #post-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/images/hero-photo-velvet.webp");
    background-position: center;
  }
  & nav {
    background-color: $velvetBg;
    & .nav-title {
      color: $velvetDarkerAccent;
    }
    & .nav-icon {
      filter: hue-rotate(20deg) saturate(0.8) brightness(0.5);
    }
  }
  & .period-emphasis {
    background-color: rgba(0,0,0,0.1)
  }
  & hr {
    border-color: $velvetAccent2;
  }
  & main {
    background-color: $velvetBg;
  }
  & h1, h2, h3, h4, h5 {
    color: $velvetDarkerAccent;
  }
  & .period-name {
    color: $velvetDarkerAccent !important;
  }
  & .period-time {
    color: $velvetAccent !important;
  }
  & #schedule-period-label, #schedule-clock, #schedule-period-countdown {
    color: $velvetAccent2 !important;
  }
  & .schedule-edit-button {
    background-color: $velvetAccent;
    border-color: $velvetDarkerAccent;
    color: $velvetBg;
    &:hover {
      background-color: $velvetDarkerAccent;
    }
  }
}

.wintertide-theme {
  & #post-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/images/hero-photo-wintertide.webp");
    background-position: center;
  }
  & nav {
    background-color: $wintertideBg;
    & .nav-title {
      color: $wintertideDarkerAccent;
    }
    & .nav-icon {
      filter: hue-rotate(50deg) saturate(0.2) brightness(2);
    }
    & #github-icon {
      filter: invert(1)
    }
  }
  & .period-emphasis {
    background-color: rgba(256,256,256,0.07)
  }
  & hr {
    border-color: $wintertideAccent2;
  }
  & main {
    background-color: $wintertideBg;
  }
  & h1, h2, h3, h4, h5 {
    color: $wintertideDarkerAccent;
  }
  & .period-name {
    color: $wintertideDarkerAccent !important;
  }
  & .period-time {
    color: $wintertideAccent !important;
  }
  & #schedule-period-label, #schedule-clock, #schedule-period-countdown {
    color: $wintertideAccent2 !important;
  }
  & .schedule-edit-button {
    background-color: $wintertideAccent;
    border-color: $wintertideDarkerAccent;
    color: $wintertideBg;
    &:hover {
      background-color: $wintertideDarkerAccent;
    }
  }
}

.vineyard-theme {
  & #post-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/images/hero-photo-vineyard.webp");
    background-position: center;
  }
  & nav {
    background-color: $vineyardBg;
    & .nav-title {
      color: $vineyardDarkerAccent;
    }
    & .nav-icon {
      filter: hue-rotate(300deg) saturate(0.3);
    }
  }
  & .period-emphasis {
    background-color: rgba(256,256,256,0.07)
  }
  & hr {
    border-color: $vineyardAccent2;
  }
  & main {
    background-color: $vineyardBg;
  }
  & h1, h2, h3, h4, h5 {
    color: $vineyardDarkerAccent;
  }
  & .period-name {
    color: $vineyardDarkerAccent !important;
  }
  & .period-time {
    color: $vineyardAccent !important;
  }
  & #schedule-period-label, #schedule-clock, #schedule-period-countdown {
    color: $vineyardAccent2 !important;
  }
  & .schedule-edit-button {
    background-color: $vineyardAccent;
    border-color: $vineyardDarkerAccent;
    color: $vineyardBg;
    &:hover {
      background-color: $vineyardDarkerAccent;
    }
  }
}


// Default

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Crimson Pro", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: $notBlack;
  background-color: $beige;
}

body {
  display: flex;
  flex-direction: column;
  & > div {
    flex: 1 0 auto;
  }
  & > footer {
    flex-shrink: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.styled-a {
  font-weight: 600;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.hero {
  width: 100%;
  height: min(62.5vh, 40rem);
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/images/hero-photo.webp");
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  transition: $defaultTransition;
}

section {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
}

.hero-text {
  margin: auto;
  color: white;
  z-index: 20;
  font-size: 4rem;
  font-family: "Noto Serif Display", "Crimson Pro";
  font-style: italic;
  text-shadow: 0.25rem 0.25rem 0.125rem rgba(64, 64, 64, 0.75);
}

footer {
  bottom: 0;
  min-height: 10rem;
  font-size: 1rem;
  display: flex;
  margin: 0;
  text-align: left !important;
  background-color: $darkerBeige;
  color: $notBlack;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  padding: 1rem;
  gap: 2rem;
  & > span {
    color: $darkerAccent;
    width: 100%;
  }
}

#footer-left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  & > .footer-logo-text {
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
    & > img {
      height: 3rem;
    }
    & > span {
      font-weight: 600;
      font-size: 2rem;
      align-self: center;
    }
  }
}

#footer-links {
  flex: none;
  line-height: 1.5;
}

.footer-credits {
  flex: none;
  line-height: 1.5;
}

#footer-logos {
  display: flex;
  flex: 1 0 0;
  align-items: flex-end;
  flex-direction: column;
  & > a {
    & > .footer-github-logo {
      height: 2.75rem;
    }
    & > .footer-nextjs-logo {
      height: 3rem;
    }
    & > .footer-vercel-logo {
      height: 1.75rem;
    }
  }
}

h1, h2, h3, h4, h5 {
  text-align: center;
  font-family: "Crimson Pro";
  font-weight: 600;
  color: $accent;
  margin: 0.75rem 0;
}

h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.875rem; }


p {
  text-align: center;
  margin: auto;
  padding: 0.5rem 4rem;
  max-width: 60rem;
}

header {
  text-align: center;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Crimson Pro";
  color: $accent;
  background: $darkerBeige;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  & > span {
    color: $darkerAccent;
    font-family: "Crimson Pro";
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
    align-self: center;
  }
}

hr {
  width: min(80vw, 14rem);
  border: 1px solid $notBlack;
}

.select-create {
  background-color: $darkerBeige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  font-family: "Crimson Pro";
  font-weight: 600;
  font-size: 1.25rem;
  & > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > input[type=text] {
      width: 14rem;
      text-align: center;
      font-family: inherit;
      padding: 0.5rem;
      border: solid 2px $accent;
      color: $accent;
      border-radius: 0.4rem;
      font-weight: inherit;
      background-color: $darkerBeige;
      outline: none;
      &:hover {
        border: solid 2px $darkerAccent;
        color: $darkerAccent;
        border-radius: 0.4rem;
      }
    }
    & > .code-input-label {
      padding: 0.5rem;
      & > label {
        padding: inherit;
        color: $accent;
      }
    }
  }
  & > a {
    width: 14rem;
    text-align: center;
    font-family: inherit;
    padding: 0.5rem;
    background-color: $accent;
    border-radius: 0.4rem;
    color: $beige;
    font-weight: inherit;
    border: solid 2px $darkerAccent;
    margin-bottom: 0.5rem;
    transition: $defaultTransition;
    &:hover {
      background-color: $darkerAccent;
    }
  }
}

.nav-icon {
  height: 2rem;
  margin: 0.5rem;
}

.invert {
  filter: invert(1);
}

.hero-nav {
  display: flex;
  height: 3rem;
  justify-content: space-between;
  z-index: 3;
}

nav {
  display: flex;
  height: 3rem;
  justify-content: space-between;
  background-color: $darkerBeige;
}

.nav-create-button {
  color: white;
  border: 2px solid white;
  border-radius: 0.4rem;
  height: 2rem;
  line-height: 0.75rem;
  font-weight: 600;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1.125rem;
  transition: $defaultTransition;
  &:hover {
    background-color: white;
    color: $accent;
  }
}

#error-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & > h1 {
    font-size: 6rem;
    font-family: "Qaitan Serif Font";
    color: $darkerAccent;
  }
}

#schedule-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  & > hr {
    width: min(80vw, 24rem);
  }
}

#schedule-clock {
  font-size: 2rem;
}

#schedule-period-label {
  font-size: 2rem;
}

#schedule-period-countdown {
  font-size: 1.5rem;
}

#schedule-table {
  margin: auto;
  border-spacing: 1rem 0.25rem;
  .period-name {
    font-weight: bold;
    color: $darkerAccent;
    font-size: 1.25rem;
    padding: 0 0.5rem;
  }
  .period-time {
    color: $accent;
    font-size: 1.25rem;
  }
}

#post-hero {
  width: 100%;
  height: min(50vh, 30rem);
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/images/hero-photo.webp");
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.post-hero-text {
  margin: auto;
  color: white;
  z-index: 20;
  font-size: min(10vw, 3rem);
  font-family: "Noto Serif Display";
  text-shadow: 0.2rem 0.2rem 0.125rem rgba(64, 64, 64, 0.75);
  text-align: center;
}

#schedule-sections {
  display: flex;
  flex-wrap: wrap;
  gap: 0 3rem;
  justify-content: center;
}

#schedule-sections-left {
  display: flex;
  flex-direction: column;
}

//

.period-emphasis {
  background-color: rgba(0,0,0,0.07);
  border-radius: 0.25rem;
}

.schedule-edit-button {
  font-weight: 600;
  font-size: 1.25rem;
  width: 14rem;
  text-align: center;
  font-family: inherit;
  padding: 0.5rem;
  background-color: $accent;
  border-radius: 0.4rem;
  color: $beige;
  border: solid 2px $darkerAccent;
  margin: 0.5rem;
  transition: $defaultTransition;
  &:hover {
    background-color: $darkerAccent;
  }
}

#schedule-edit-section {
  width: 100%;
  margin: 1rem 0;
}

#create-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  & > hr {
    width: 24rem;
  }
}

.create-editable-per-container {
  font-size: 1.25rem;
  align-items: center;
  & > td > span {
    font-weight: 600;
    color: $accent;
  }
  & > td > input {
    border: solid 2px $accent;
    border-radius: 0.4rem;
    background-color: $beige;
    width: 14rem;
    padding: 0.25rem;
    color: $accent;
    text-align: center;
    transition: $defaultTransition;
    &:hover {
      border: solid 2px $darkerAccent;
      outline: none;
      color: $darkerAccent;
      border-radius: 0.4rem;
    }
  }
  & > td > button {
    background-color: transparent;
    border: none;
    color: $notBlack;
    transition: $defaultTransition;
    &:hover {
      filter: invert(0.5);
    }
  }
}

#create-editable-per-table {
  border-spacing: 1rem 0.25rem;
}

.create-editable-per-periods {

}

#create-editable-per-settings {
  background-color: $darkerBeige;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > div {
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
    & > label {
      font-size: 1.15rem;
      padding: 0.25rem;
      color: $accent;
      font-weight: 600;
    }
    & > select {
      font-size: 1.25rem;
      padding: 0.25rem;
      width: 14rem;
      color: $accent;
      background-color: $darkerBeige;
      border-radius: 0.4rem;
      border: solid 2px $accent;
      outline: none;
      transition: $defaultTransition;
      &:hover {
        border-color: $darkerAccent;
      }
    }
  } 
}

.copy-url {
  display: flex;
  gap: 0.25rem;
}

.copy-url-input {
  width: min(60vw, 30rem);
  padding: 0.25rem;
  color: $accent;
  border: solid 2px $accent;
  border-radius: 0.4rem;
  font-size: 1.15rem;
  text-align: center;
  background-color: $beige;
  outline: none;
}

.copy-url-button {
  border: solid 2px $darkerAccent;
  font-weight: 600;
  border-radius: 0.4rem;
  text-align: center;
  padding: 0.25rem;
  width: 6rem;
  color: $beige;
  font-size: 1.15rem;
  background-color: $accent;
  transition: $defaultTransition;
  &:hover {
    background-color: $darkerAccent;
  }
}

[data-tooltip]::after {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  content: attr(data-tooltip);
  opacity: 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: $beige;
  transition: $defaultTransition;
  font-size: 0.875rem;
  max-width: min(30rem, 80vw);
  pointer-events: none;
  font-style: normal;
  margin-left: 0.5rem;
}

[data-tooltip]:hover::after {
  opacity: 1;
}

#index-logo {
  margin: auto;
  width: 12rem;
  height: auto;
}

.add-button {
  height: 2rem;
  width: 2rem;
  background-color: $accent;
  outline: none;
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
  font-family: inherit;
  background-color: $accent;
  border-radius: 0.4rem;
  color: $beige;
  border: solid 2px $darkerAccent;
  margin: 0.5rem;
  transition: $defaultTransition;
  align-self: center;
  &:hover {
    background-color: $darkerAccent;
  }
}

.period-name-select {
  font-size: 1.25rem;
  padding: 0.25rem;
  width: 10rem;
  color: $accent;
  background-color: $darkerBeige;
  border-radius: 0.4rem;
  border: solid 2px $accent;
  outline: none;
  transition: $defaultTransition;
  &:hover {
    border-color: $darkerAccent;
  }
}

.passi-alert {
  border: 2px solid $darkerAccent;
  border-radius: 1.2rem;
  background-color: $beige;
  max-width: min(80vh, 24rem);
  margin: 1rem;
  padding: 0.5rem;
  transition: 1.5s ease;
  & > p {
    color: $accent;
  }
}

.opacity-fade {
  opacity: 0;
}

.display-none {
  display: none;
}

#passi-404 {
  height: 24rem;
  margin: 2rem 0;
  width: auto;
}

.bruh {
  display: flex;
}