$accent: #db6a8a;
$darkerAccent: #bb4667;
$beige: rgb(255, 254, 243);
$darkerBeige: rgb(245, 242, 233);
$notBlack: #2c2c2c;
$defaultTransition: ease 0.35s;

// Media queries

@media (max-width: 420px) {
  [data-tooltip]::after {
    margin-left: 0 !important;
    left: 2rem;
  }
}


// Default

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Crimson Pro", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: $notBlack;
  background-color: $beige;
}

body {
  display: flex;
  flex-direction: column;
  & > div {
    flex: 1 0 auto;
  }
  & > footer {
    flex-shrink: 0;
    padding: 0.5rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.styled-a {
  font-weight: 600;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.hero {
  width: 100%;
  height: min(50vh, 30rem);
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/images/hero-photo.jpg");
  height: 40rem;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  transition: $defaultTransition;
}

section {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
}

.hero-text {
  margin: auto;
  color: white;
  z-index: 20;
  font-size: 4rem;
  font-family: "Noto Serif Display";
  text-shadow: 0.25rem 0.25rem 0.125rem rgba(64, 64, 64, 0.75);
}

footer {
  bottom: 0;
  background-color: $darkerBeige;
  font-size: 1rem;
  text-align: center;
  display: flex;
  & > span {
    color: $darkerAccent;
    width: 100%;
  }
}

h1, h2, h3, h4, h5 {
  text-align: center;
  font-family: "Crimson Pro";
  font-weight: 600;
  color: $accent;
  margin: 0.75rem 0;
}

h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.875rem; }


p {
  text-align: center;
  margin: auto;
  padding: 0.5rem 4rem;
  max-width: 60rem;
}

header {
  text-align: center;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Crimson Pro";
  color: $accent;
  background: $darkerBeige;
}

.nav-title {
  color: $darkerAccent;
  font-family: "Crimson Pro";
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
}

hr {
  width: 14rem;
  border-top: 1px solid $notBlack;
}

.select-create {
  background-color: $darkerBeige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  font-family: "Crimson Pro";
  font-weight: 600;
  font-size: 1.25rem;
  & > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > input[type=text] {
      width: 14rem;
      text-align: center;
      font-family: inherit;
      padding: 0.5rem;
      border: solid 2px $accent;
      color: $accent;
      border-radius: 0.4rem;
      font-weight: inherit;
      background-color: $darkerBeige;
      outline: none;
      &:hover {
        border: solid 2px $darkerAccent;
        color: $darkerAccent;
        border-radius: 0.4rem;
      }
    }
    & > .code-input-label {
      padding: 0.5rem;
      & > label {
        padding: inherit;
        color: $accent;
      }
    }
  }
  & > a {
    width: 14rem;
    text-align: center;
    font-family: inherit;
    padding: 0.5rem;
    background-color: $accent;
    border-radius: 0.4rem;
    color: $beige;
    font-weight: inherit;
    border: solid 2px $darkerAccent;
    margin-bottom: 0.5rem;
    transition: $defaultTransition;
    &:hover {
      background-color: $darkerAccent;
    }
  }
}

.nav-icon {
  height: 2rem;
  margin: 0.5rem;
}

.invert {
  filter: invert(1);
}

.hero-nav {
  display: flex;
  height: 3rem;
  justify-content: space-between;
  z-index: 3;
}

nav {
  display: flex;
  height: 3rem;
  justify-content: space-between;
  background-color: $darkerBeige;
}

.nav-create-button {
  color: white;
  border: 2px solid white;
  border-radius: 0.4rem;
  height: 2rem;
  line-height: 0.75rem;
  font-weight: 600;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1.125rem;
  transition: $defaultTransition;
  &:hover {
    background-color: white;
    color: $accent;
  }
}

#error-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & > h1 {
    font-size: 6rem;
    font-family: "Qaitan Serif Font";
    color: $darkerAccent;
  }
}

#schedule-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  & > hr {
    width: 24rem;
  }
}

#schedule-clock {
  font-size: 2rem;
}

#schedule-period-label {
  font-size: 2rem;
}

#schedule-period-countdown {
  font-size: 1.5rem;
}

#schedule-table {
  margin: auto;
  border-spacing: 1rem 0.25rem;
  .period-name {
    font-weight: bold;
    color: $darkerAccent;
    font-size: 1.25rem;
    padding: 0 0.5rem;
  }
  .period-time {
    color: $accent;
    font-size: 1.25rem;
  }
}

#post-hero {
  width: 100%;
  height: min(50vh, 30rem);
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/images/hero-photo.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.post-hero-text {
  margin: auto;
  color: white;
  z-index: 20;
  font-size: min(10vw, 3rem);
  font-family: "Noto Serif Display";
  text-shadow: 0.2rem 0.2rem 0.125rem rgba(64, 64, 64, 0.75);
  text-align: center;
}

#schedule-sections {
  display: flex;
  flex-wrap: wrap;
  gap: 0 3rem;
  justify-content: center;
}

#schedule-sections-left {
  display: flex;
  flex-direction: column;
}

//

.period-emphasis {
  background-color: rgba(0,0,0,0.07);
  border-radius: 0.25rem;
}

.schedule-edit-button {
  font-weight: 600;
  font-size: 1.25rem;
  width: 14rem;
  text-align: center;
  font-family: inherit;
  padding: 0.5rem;
  background-color: $accent;
  border-radius: 0.4rem;
  color: $beige;
  border: solid 2px $darkerAccent;
  margin: 0.5rem;
  transition: $defaultTransition;
  &:hover {
    background-color: $darkerAccent;
  }
}

#schedule-edit-section {
  width: 100%;
  margin: 1rem 0;
}

#create-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  & > hr {
    width: 24rem;
  }
}

.create-editable-per-container {
  font-size: 1.25rem;
  align-items: center;
  & > td > span {
    font-weight: 600;
    color: $accent;
  }
  & > td > input {
    border: solid 2px $accent;
    border-radius: 0.4rem;
    background-color: $beige;
    width: 14rem;
    padding: 0.25rem;
    color: $accent;
    text-align: center;
    transition: $defaultTransition;
    &:hover {
      border: solid 2px $darkerAccent;
      outline: none;
      color: $darkerAccent;
      border-radius: 0.4rem;
    }
  }
  & > td > button {
    background-color: transparent;
    border: none;
    color: $notBlack;
    transition: $defaultTransition;
    &:hover {
      filter: invert(0.5);
    }
  }
}

#create-editable-per-table {
  border-spacing: 1rem 0.25rem;
}

.create-editable-per-periods {

}

#create-editable-per-settings {
  background-color: $darkerBeige;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > div {
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
    & > label {
      font-size: 1.15rem;
      padding: 0.25rem;
      color: $accent;
      font-weight: 600;
    }
    & > select {
      font-size: 1.25rem;
      padding: 0.25rem;
      width: 14rem;
      color: $accent;
      background-color: $darkerBeige;
      border-radius: 0.4rem;
      border: solid 2px $accent;
      outline: none;
      transition: $defaultTransition;
      &:hover {
        border-color: $darkerAccent;
      }
    }
  } 
}

.copy-url {
  display: flex;
  gap: 0.25rem;
}

.copy-url-input {
  width: min(60vw, 30rem);
  padding: 0.25rem;
  color: $accent;
  border: solid 2px $accent;
  border-radius: 0.4rem;
  font-size: 1.15rem;
  text-align: center;
  background-color: $beige;
  outline: none;
}

.copy-url-button {
  border: solid 2px $darkerAccent;
  font-weight: 600;
  border-radius: 0.4rem;
  text-align: center;
  padding: 0.25rem;
  width: 6rem;
  color: $beige;
  font-size: 1.15rem;
  background-color: $accent;
  transition: $defaultTransition;
  &:hover {
    background-color: $darkerAccent;
  }
}

[data-tooltip]::after {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  content: attr(data-tooltip);
  opacity: 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: $beige;
  transition: $defaultTransition;
  font-size: 0.875rem;
  max-width: min(30rem, 80vw);
  pointer-events: none;
  font-style: normal;
  margin-left: 0.5rem;
}

[data-tooltip]:hover::after {
  opacity: 1;
}

#index-logo {
  margin: auto;
  width: 12rem;
  height: auto;
}

.add-button {
  height: 2rem;
  width: 2rem;
  background-color: $accent;
  outline: none;
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
  font-family: inherit;
  background-color: $accent;
  border-radius: 0.4rem;
  color: $beige;
  border: solid 2px $darkerAccent;
  margin: 0.5rem;
  transition: $defaultTransition;
  align-self: center;
  &:hover {
    background-color: $darkerAccent;
  }
}